body{margin:0 auto;min-width:320px;height:100%;background:#FFF}
.detail-context{position:relative;padding:14px 10px;font-size:14px;border-bottom:1px dashed #dcdcdc}
.detail-context h4{font-size:16px;float:left;margin-right:20px}
.detail-context .share{position:absolute;top:10px;right:20px}
.detail-context .share .iconfont{font-size:25px;color:#333}
.detail-context .flag{float:left;padding:2px 4px;background:#f00;color:#fff;line-height:18px;margin-left:2px;border-radius:3px}
.detail-block p{margin:0;padding:0;}
.detail-block p img{vertical-align:middle}
.detail-7day{padding:0 10px}
.timeWrap{float:right;color:#666;margin-right:4px;margin-top:1px}
.timeWrap .colon{padding:2px 3px;background:#000;color:#fff;border-radius:2px;margin:0 2px}
#timer{font-size:16px}
#timer span{text-decoration:none}
.detail-number{background:white;padding:10px 5px;height:45px;border-bottom:1px dashed #dcdcdc}
.detail-profile{background:white;padding:10px 5px;color:#f00;min-height:30px}
.dc-price{float:left;font-family:Arial;padding-top:3px}
.dc-price .yuan{float:left;color:red;font-size:32px;margin-top:0;font-weight:bold}
.dc-price .s-price{float:left;color:red;font-size:32px;font-weight:bold}
.dc-price .o-price{float:left;font-size:16px;padding:0 6px;text-decoration:line-through}
.dc-price .praise{float:right;padding-right:1px;margin-top:-5px}
.detail-bars{list-style-type:none;background:white;height:40px;width:100%;border:1px solid #ddd}
.fixed{position:fixed;z-index:999;top:0}
.detail-bars li{width:33.33%;line-height:38px;border-right:1px solid #ddd;float:left;cursor:pointer;font-size:12px;text-align:center}
.detail-bars li:last-child{border-right:0}
.detail-bars li a{color:#666;display:block}
.detail-block{width:100%;padding:0;margin:0;margin-top:-10px;background:white}
.detail-block h4{font-size:13px;font-weight:normal;background:#e7e7e7;border-bottom:1px solid #ccc;border-top:1px solid #ccc;line-height:37px;text-align:center}
#detial-context{margin-top:0}
#detial-appraise{padding-bottom:10px}
#detial-appraise .go-appraise{text-align:center;padding-top:10px}
#detial-appraise .go-appraise a{display:inline-block;margin:5px 35%;width:90px;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:36px;border-radius:20px;color:#666}
.detial-img img{width:100%}
.detail-spec{margin:10px 0;background:white;padding:10px 15px;border-bottom:1px solid #bbb;border-top:1px solid #bbb}
.detail-spec .spec-item{clear:both}
.detail-spec .spec-item .clear{margin:3px}
.detail-spec .spec-item label{display:block;width:18%;float:left;margin-top:8px}
.detail-spec .spec-item ul{display:block;width:82%;float:left}
.detail-spec .spec-item li{display:block;padding:0 8px;float:left;margin:3px 5px;border:1px solid #ddd;text-align:center;line-height:30px}
.detail-spec .spec-item li.active{border:1px solid red;color:red}
.detail-spec .mui-numbox{margin:5px}
.i-list-profile{margin-bottom:10px;background:white;padding:8px 5px 8px 15px;border-bottom:1px solid #bbb;border-top:1px solid #bbb}
.il-title{font-size:16px;font-weight:bold}
.i-list-profile .mui-icon{float:right}
.detail-eval{background:white}
.detail-eval .i-line{margin:4px 15px}
.detail-eval .i-list-eval{background:white;padding:8px 5px 5px 15px;border-bottom:1px solid #bbb;border-top:1px solid #bbb}
.detail-eval .i-list-eval .il-rate{color:red;font-size:12px;padding:10px}
.detail-eval .i-list-eval .il-right{float:right}
.detail-eval .i-list-eval .il-right font{display:block;margin-right:3px;float:left}
.detail-eval .etag-list{padding:10px}
.detail-eval .etag-list li{display:block;float:left;margin:5px;padding:3px 8px;border:1px solid darkorange;font-size:12px;border-radius:3px}
.detail-eval .ec-list{padding:5px 15px;font-size:12px}
.detail-eval .ec-list .ecl-title .mui-pull-right{color:#999}
.detail-eval .ec-list .ecl-title .level-star{color:#666}
.detail-eval .ec-list .ecl-title .level-star .selected{color:#ff5053;padding-left:10px}
.detail-eval .ec-list .ecl-title .level-star span{margin-left:-2px}
.detail-eval .ec-list .ecl-text{clear:both;line-height:15px;padding:3px}
.detail-eval .ec-list .ecl-images li{display:block;float:left;margin-right:3px;padding:3px 0}
.detail-eval .ec-list .ecl-images img{width:100%;width:72px;height:72px;border:1px solid #ddd}
.detail-eval .ec-all-btn{padding:10px 0;text-align:center;border-bottom:1px solid #bbb}
.detail-ylove{margin:10px 0;padding:10px 15px 0;background:white;border-top:1px solid #bbb;border-bottom:1px solid #bbb}
.detail-ylove .il-title{font-size:16px;font-weight:bold;margin:5px 0}
.detail-ylove .dyl-context{background:white;height:370px}
.detail-ylove ul{background:white;display:block}
.detail-ylove li{float:left;background:white;display:block;width:32%;margin:10px 0 0;margin-right:1.3%;border:1px solid #ddd}
.detail-ylove li img{width:100%;border-bottom:1px solid #ddd}
.detail-ylove li span{font-size:12px;padding:8px}
.goods-info{padding:5px 10px 0}
.mui-segmented-control-negative{border:1px solid #bbb;border-left:none;border-right:0;border-radius:0}
.mui-segmented-control-negative .mui-control-item{color:#666;border-left:1px solid #bbb;background:white}

.mui-bar .mui-bar-item{display:table-cell;text-align:center;padding:6px 0;color:white;cursor:pointer;line-height:15px;vertical-align:middle}
.mui-bar-con{width:85px;margin:0 auto}
.mui-bar .mui-bar-item .mui-icon{padding:5px 0 0}
.mui-bar .fav,.mui-bar .cart{width:15%;font-size:12px}
.mui-bar .fav{border-right:1px solid #ddd;margin-left:-1px}
.mui-bar .cart{border-left:1px solid #ddd;margin-right:-1px}
.mui-bar .add-cart,.mui-bar .buy{position:relative;width:35%}
.mui-bar .buy{border-right:1px solid #fff}
.mui-bar .add-cart{border-left:1px solid #fff}
.mui-bar .mui-btn{top:-2px;opacity:1}
.mui-bar button{top:0;margin:0 4% 5px;width:92%}
.mui-bar .mui-bar-item span{display:inline-block;width:100%}
.closeBtn{width:24px;height:24px;float:right;cursor:pointer}
.buyinfo_table{width:100%;padding:10px 3% 20px;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px}
.buyinfo_hd{text-align:center;line-height:36px;font-size:16px;color:red;font-weight:bold}
.buyinfo_table_box{padding-top:10px}
.buyinfo_table_box table{width:100%}
.buyinfo_table_box tr{padding:5px 0;height:40px}
.table_td{width:21%;font-size:12px;line-height:30px;text-align:right;vertical-align:top}
.table_cell{width:78%;padding-left:1%}
.input01{width:95%!important;text-indent:5px;height:30px!important;padding:0!important;line-height:30px;border:1px solid #dadada;font-size:12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.input_btn{width:70%;margin:0 auto;border:0;font-size:16px;color:#fff;height:40px;line-height:40px;background:red;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.tc{text-align:center}
.input_btn01{width:50%;margin:0 auto;border:0;margin-top:10px;font-size:14px;color:#fff;height:40px;line-height:40px;background:red!important;border:1px solid red!important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.input_btn:hover{background:#ff1818!important}
.textarea_style{width:95%;text-indent:5px;height:70px;padding:0!important;font-size:12px;line-height:22px;margin-bottom:0;border:1px solid #dadada;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.buyinfo_table_box i{font-style:normal;color:red;padding:0 2px}
.line{text-align:right;font-weight:bold;padding-right:6%;color:#666;font-size:15px}
.buyinfo_table_red{color:red}
hr.seperator{border:0;border-top:1px solid #eee!important}
.shipping{width:100%;margin:0;padding:0 15px 10px;background:white;margin-top:3px}
.i-item-input{line-height:45px;clear:both;border-bottom:0}
.require{color:red;padding-right:2px}
.i-item-input label{float:left;width:34px;font-size:12px;margin-right:10px;text-align:right}
.i-item-input input{width:70%;text-indent:5px;height:34px;line-height:34px;border:1px solid #dadada;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.star{float:left;margin-top:-5px}
.star span{margin-right:5px;color:#f00;font-size:20px}
.detail-block img{width:100%}
#comment_box{width:100%;height:300px;overflow:hidden}
.comment_top{height:36px;line-height:36px;border-bottom:1px solid #dadada;text-align:center;font-weight:bold;background:#e7e7e7}
#demo{height:255px;overflow:hidden;margin-top:0}
#express{margin:0 10px 0 10px}
#express li{font-size:12px;list-style:none}
.pl-name{line-height:25px;color:#e8373c;font-size:14px}
.pl-name span{color:#666}
.pl-content{line-height:25px;color:#666;font-size:14px;border-bottom:1px dotted #ccc}
.pl-content img{width:100px;padding-right:2px}
.plbox{display:none;position:fixed;z-index:199998;width:100%;text-align:center;height:100%;background:rgba(0,0,0,0.58);padding:0;bottom:0;margin:0;max-width:640px}
.fixed{position:relative}
ul.fixed:before{content:'';display:block;width:100%;height:1px;box-shadow:0 1px 5px rgba(0,0,0,0.5);position:absolute;left:0;top:-1px}
.detail-bars li:nth-child(3) .scrollBar{position:relative}
.detail-bars li:nth-child(3) .scrollBar:after{content:'';display:block;width:24px;height:15px;background-size:24px;position:absolute;right:-24px;top:-4px}



.mui-bar{position:fixed;z-index:10;right:0;left:0;height:44px;padding-right:10px;padding-left:10px;border-bottom:0;background-color:#f7f7f7;-webkit-box-shadow:0 0 1px rgba(0,0,0,.85);box-shadow:0 0 1px rgba(0,0,0,.85);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.mui-bar-nav{top:0;-webkit-box-shadow:0 1px 6px #ccc;box-shadow:0 1px 6px #ccc}
.mui-bar{z-index:99999}
.mui-bar{margin:0 auto;min-width:320px;max-width:640px}
.mui-pull-left{float:left}
.mui-icon{font-family:Muiicons;font-size:24px;font-weight:400;font-style:normal;line-height:1;display:inline-block;text-decoration:none;-webkit-font-smoothing:antialiased}
.mui-bar .mui-icon{font-size:24px;position:relative;z-index:20;padding-top:10px;padding-bottom:10px}
.mui-bar-nav.mui-bar .mui-icon{margin-right:-10px;margin-left:-10px;padding-right:10px;padding-left:10px}
.mui-bar .mui-icon:active{opacity:.3}
.mui-title{font-size:17px;font-weight:500;line-height:44px;position:absolute;display:block;width:100%;margin:0 -10px;padding:0;text-align:center;white-space:nowrap;color:#000}
.mui-bar .mui-title{right:40px;left:40px;display:inline-block;overflow:hidden;width:auto;margin:0;text-overflow:ellipsis}
.sliderbox{width:100%;height:auto}
.sliderbox ul li img{width:100%!important;height:auto!important}
.slider{width:100%!important}
@media screen and (max-width:656px){.mui-bar-nav{-webkit-transform:translateZ(0)}
html,body{overflow:auto;margin:0 auto}
.mui-bar{padding-left:0!important;padding-right:0!important}
.mui-bar-nav{-webkit-transform:translateZ(0)}
}
.mui-bar-nav{top:0;-webkit-box-shadow:0 1px 6px #ccc!important;box-shadow:0 1px 6px #ccc!important}
.mui-bar-nav{height:44px!important}
.detail-bars li{font-size:14px!important}
.mui-input-group:before{content:none}
.mui-input-group:after{content:none}
.pro_color dl dd span.imgbox{width:100px!important;text-align:center}
.detail-context{height:43px!important}
.mui-icon-closeempty{cursor:pointer}
.pro_info .ctxtbox h1{color:#444;font-size:14px;text-align:left;font-weight:normal;line-height:21px;margin-top:5px;margin-bottom:5px}
.pro_info .ctxtbox h2{color:#999;font-size:14px;text-align:left;line-height:21px}
.mui-numbox [class*=mui-numbox-btn]{color:#000!important}
.mui-numbox [class*=mui-numbox-btn][disabled]{color:#000!important;font-weight:bold}
.current .values_content{color:#f00!important}
button.bunble{margin-top:10px}
.mui-btn-success{background:#f00!important;color:#fff!important;font-weight:bold!important}
.current label.values_content{color:#f00!important}
button.bunble{margin-top:10px;width:96%;margin-left:2%;margin-right:2%}
.mui-bar-con{width:120px}
button.bunble{margin-top:10px;width:94%;margin-left:3%;margin-right:3%}
.current .values_content{color:#f00}
.mui-btn-success{background:#f00;color:#fff;font-weight:bold}
.mui-btn-green.mui-active:enabled,.mui-btn-green:enabled:active,.mui-btn-positive.mui-active:enabled,.mui-btn-positive:enabled:active,.mui-btn-success.mui-active:enabled,.mui-btn-success:enabled:active{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.mui-btn-green.mui-active:enabled,.mui-btn-green:enabled:active,.mui-btn-positive.mui-active:enabled,.mui-btn-positive:enabled:active,.mui-btn-success.mui-active:enabled,.mui-btn-success:enabled:active{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.mui-btn-green,.mui-btn-positive,.mui-btn-success{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.pro_color dl dd span{margin-bottom:2px}
.current .values_content{color:#f00!important}
button.bunble{margin-top:10px}
.pro_color dl dd span.current{border:2px solid #e4393c!important;color:#e4393c!important}
.mui-btn-success{background:#f00!important;color:#fff!important;font-weight:bold!important}
.current label.values_content{color:#f00!important}
.product_msg{color:#f00;font-weight:bold;background:#d5d5d5;width:100%;float:left;line-height:40px;font-size:16px}
.pro_color .options_content{width:100px;margin-left:10px}
#gift h1{margin-left:10px}
.pro_color dl dd{margin:5px 0 15px}
.pro_color dl dd span{margin-left:10px!important}
.pro_color dl dd span.imgbox{margin-left:0!important}
#gift .options_content1{margin-left:10px;margin-bottom:10px;float:left;text-align:center;width:100px!important}
#gift dl dd span.current2{border-width:2px}
#gift dl dd span.imgbox{margin-left:0!important;margin-bottom:0;width:100%}
#gift .options_content1 p{width:96px;margin:0 auto}
.pro_color dl dd span{border-width:2px}
.pro_info .ctxtbox h1{margin-bottom:0}
.fixed{position:relative}
ul.fixed:before{content:'';display:block;width:100%;height:1px;box-shadow:0 1px 5px rgba(0,0,0,0.5);position:absolute;left:0;top:-1px;z-index:1}
.detail-bars{border-top:1px solid #eee;border-bottom:1px solid #eee}
ul.fixed{border-top:0}
.detail-bars li:nth-child(3) .scrollBar{position:relative}
.detail-bars li:nth-child(3) .scrollBar:after{content:'';display:block;width:24px;height:15px;background-size:24px;position:absolute;right:-24px;top:-4px}

.detail-bars li{border:none!important;position:relative}
.detail-bars li:after{content:'';display:block;width:1px;height:33px;position:absolute;right:0;top:2px;background:-webkit-linear-gradient(#f9f9f9,#f4f4f4,#f9f9f9);background:-o-linear-gradient(#f9f9f9,#f4f4f4,#f9f9f9);background:linear-gradient(#f9f9f9,#f4f4f4,#f9f9f9)}
.detail-bars li:nth-child(3):after{display:none}
.detail-bars li{width:32%!important}
.banner{min-height:100px!important}
#payworks-form .glee-cardno{width:68%;display:inline;border-radius:4px;margin-right:2%;margin-bottom:10px}
#payworks-form .glee-cvv{width:28%;display:inline;border-radius:4px;margin-bottom:10px}
#payworks{padding:10px}
#payworks-form .glee-month,#payworks-form .glee-year{border-radius:4px;width:48%!important}
.detail-bars li{background:white;color:#333;font-size:14px}
.detail-bars{box-shadow:0 1px 1px #ebe9e9}
#detial-context{padding-top:0!important}
.Product_assurance{display:none}
.mui-bar{margin:0 auto;max-width:640px}
.Product_assurance{display:none}
#detial-appraise .go-appraise{padding-top:5px;padding-bottom:5px;margin-top:2px;border-top:1px solid #ccc}
#detial-appraise .go-appraise a{display:inline-block;margin:0 auto;width:140px;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:28px;border-radius:20px;color:#666}
.btnstyle01{width:70%;margin:0 auto;border:0;font-size:16px;color:#fff;height:40px;background:red;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:none}
.shipping{display:none}
.detail-block h4{font-size:13px;font-weight:normal;background:#e7e7e7;border-bottom:1px solid #ccc;border-top:1px solid #ccc;line-height:37px;text-align:center;color:#333}
#detial-appraise .go-appraise{padding-top:5px;padding-bottom:2px;margin-top:2px;border-top:1px solid #ccc;background:#e7e7e7!important}
#detial-appraise .go-appraise a{display:inline-block;margin:0 auto;width:140px!important;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:28px;border-radius:20px;color:#666!important;background:#e7e7e7!important}

#detial-appraise .go-appraise{padding-top:5px;padding-bottom:2px;margin-top:2px;border-top:1px solid #ccc;background:#e7e7e7!important}
.table_details{padding-top:3px!important}
.Product_assurance{display:none}
.foot_png{display:none}
.btndiv{text-align:center}
.mui-input-row label{width:23%;font-size:12px;font-weight:bold}
.mui-input-row label~input,.mui-input-row label~select,.mui-input-row label~textarea{width:72%;font-size:12px;margin-right:4%;height:34px;line-height:34px;border-radius:8px}
.options_content{width:100px!important}
.detail-number{padding:7px 5px;height:36px}
.mui-bar{padding-bottom:1px}
.table_details{height:auto;margin:0 auto;background:#e7e7e7;padding-bottom:5px}
.data-table{margin:1.5%;font-size:14px;color:#666;margin-top:0}
.data-table tr{height:27px}
.data-table th{border:1px solid #ccc;font-weight:100;padding:5px}
html{overflow-x:hidden}
.data-table th{background:none repeat scroll 0 0 #f4f4f4;text-transform:uppercase;font-family:"Arial";white-space:nowrap}
.data-table td{padding:10px;background:#fff;border:1px solid #ccc}
.table_details p{margin-bottom:0}
.go-appraise{background:#e7e7e7;padding-top:0}
#detial-appraise .go-appraise a{display:inline-block;margin:0 auto;width:140px;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:28px;border-radius:20px;color:#666}
#detial-appraise .go-appraise{padding-top:5px;padding-bottom:5px;margin-top:2px;border-top:1px solid #ccc}
.detail-block{margin-top:0}
.language a:link,.language a:visited,.language a:hover,.language a:active{text-decoration:none;color:#fff}
.language{height:40px;line-height:40px;background:#333;color:#fff;font-size:16px}
.language a{display:block;width:50%;line-height:40px;text-align:center;float:left}
.language a.c-red{color:#f00}
.mui-bar-con{width:120px}
.fixed{position:fixed!important;z-index:999!important;top:0!important}
.secure{display:none}
.options_content{width:100px!important}
.pro_color dl dd span.imgbox{width:100px!important;text-align:center}
.mui-input-group{margin:0 auto}
.mui-input-group{padding:0 12px 0 0}
.mui-input-row select{width:35%!important;margin-right:2%!important;height:34px;font-size:12px}
.mui-input-row label~textarea{height:60px;line-height:30px}
.mui-input-row label{width:23%;font-size:12px;font-weight:bold}
.mui-input-row label~input,.mui-input-row label~select,.mui-input-row label~textarea{width:72%;font-size:12px;margin-right:4%;height:34px;line-height:34px;border-radius:8px}
.mui-input-row label~textarea{height:60px;line-height:30px;padding-top:0}
.qty_total{padding-bottom:2px}
@media screen and (max-width:656px){.detail-context .flag{font-size:15px!important}
}
.mui-input-row select{border:1px solid #dadada;border-radius:5px}

.pro_color dl dd span.imgbox{width:100px!important}
.pro_color .options_content{width:100px!important}
.btndiv{padding-bottom:2px!important}
#gift{padding-top:0;padding-bottom:0}
.mui-bar{position:fixed;z-index:10;right:0;left:0;height:44px;padding-right:10px;padding-left:10px;border-bottom:0;background-color:#f7f7f7;-webkit-box-shadow:0 0 1px rgba(0,0,0,.85);box-shadow:0 0 1px rgba(0,0,0,.85);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.mui-bar-nav{top:0;-webkit-box-shadow:0 1px 6px #ccc;box-shadow:0 1px 6px #ccc}
.mui-bar{z-index:99999}
.mui-bar{margin:0 auto;min-width:320px;max-width:640px}
.mui-pull-left{float:left}
.mui-icon{font-family:Muiicons;font-size:24px;font-weight:400;font-style:normal;line-height:1;display:inline-block;text-decoration:none;-webkit-font-smoothing:antialiased}
.mui-bar .mui-icon{font-size:24px;position:relative;z-index:20;padding-top:10px;padding-bottom:10px}
.mui-bar-nav.mui-bar .mui-icon{margin-right:-10px;margin-left:-10px;padding-right:10px;padding-left:10px}
.mui-bar .mui-icon:active{opacity:.3}
.mui-title{font-size:17px;font-weight:500;line-height:44px;position:absolute;display:block;width:100%;margin:0 -10px;padding:0;text-align:center;white-space:nowrap;color:#000}
.mui-bar .mui-title{right:40px;left:40px;display:inline-block;overflow:hidden;width:auto;margin:0;text-overflow:ellipsis}
#mq{background:#FFF;overflow:hidden;height:300px;padding:10px}
#mq .mqc{display:block}
#mq .mqc img{width:30%;margin-right:5px;vertical-align:auto}
.edui-upload-video{width:100%}
div.mui-bar{border:0;height:auto;padding:10px;padding-top:1px;padding-left:2px;padding-right:2px;padding-bottom:3px;background-color:#fdfdfd;width:100%;max-width:640px;min-width:320px;position:fixed;bottom:0;width:100%;z-index:9999;box-shadow:0 -1px 1px #dad8d8}
 
.mui-bar{box-shadow:none}  
.mui-bar .purchase{float:left;width:48%;height:56px;border:1px solid #dedede;margin:0 .5%;text-align:center;background-color:#F00;border-radius:4px 4px 4px 4px}
@-moz-document url-prefix(){.mui-bar .purchase{width:47%}
}
.mui-bar .purchase a{line-height:56px;font-size:.22rem;color:#fff}   
.fot{width:100%;text-align:center;line-height:1.2;padding-top:2px;font-size:12px}
.mui-bar{border:0}
.mui-bar .purchase img{max-width:30px;margin:12px auto 0 20%;text-align:right;float:left;width:50%;padding-top:3px}
.mui-bar .purchase span{text-align:left;line-height:60px;width:50%}
.mui-bar .purchase a{margin:0 auto;text-align:center;font-size:16px;line-height:56px;width:100%}
.fot p{margin:0 auto;color:#000;line-height:13px;font-size:13px;text-align:center;margin-top:34px}
.fot p img{width:35px;height:auto;margin-right:0;padding-top:6px;margin-left:3px}
.mui-bar .purchase a span{line-height:50px;float:left;font-size:20px;text-align:center}
 
.table_details{height:auto;margin:0 auto;background:#e7e7e7;padding-bottom:5px}
.data-table{margin:1.5%;font-size:14px;color:#666;margin-top:0}
.data-table tr{height:27px}
.data-table th{border:1px solid #ccc;font-weight:100;padding:5px}
.data-table th{background:none repeat scroll 0 0 #f4f4f4;text-transform:uppercase;font-family:"Arial";white-space:nowrap}
.data-table td{padding:10px;background:#fff;border:1px solid #ccc}
.table_details p{margin-bottom:0}
.go-appraise{background:#e7e7e7;padding-top:0}
#detial-appraise .go-appraise a{display:inline-block;margin:0 auto;width:140px;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:28px;border-radius:20px;color:#666}
#detial-appraise .go-appraise{padding-top:5px;padding-bottom:5px;margin-top:2px;border-top:1px solid #ccc}
.detail-block{margin-top:0}
@media screen and (max-width:656px){@-moz-document url-prefix(){.mui-bar .purchase{width:54%}
}
}
.fot p img{width:35px;height:auto;margin-right:0;padding-top:6px;margin-left:3px}

.mui-bar .purchase a span{line-height:50px;float:left;font-size:20px;text-align:center}
 
.table_details{height:auto;margin:0 auto;background:#e7e7e7;padding-bottom:5px}
.data-table{margin:1.5%;font-size:14px;color:#666;margin-top:0}
.data-table tr{height:27px}
.data-table th{border:1px solid #ccc;font-weight:100;padding:5px}
.data-table th{background:none repeat scroll 0 0 #f4f4f4;text-transform:uppercase;font-family:"Arial";white-space:nowrap}
.data-table td{padding:10px;background:#fff;border:1px solid #ccc}
.table_details p{margin-bottom:0}
.go-appraise{background:#e7e7e7;padding-top:0}
#detial-appraise .go-appraise a{display:inline-block;margin:0 auto;width:140px;cursor:pointer;font-size:14px;border:1px solid #ccc;line-height:28px;border-radius:20px;color:#666}
#detial-appraise .go-appraise{padding-top:5px;padding-bottom:5px;margin-top:2px;border-top:1px solid #ccc}
.detail-block{margin-top:0}
@media screen and (max-width:656px){@-moz-document url-prefix(){.mui-bar .purchase{width:54%}
}
}
.fot p img{width:38px;height:auto;margin-right:0;padding-top:3px;margin-left:3px}
-->.detail-context .flag{font-size:12px}
@media screen and (max-width:656px){.detail-context .flag{font-size:15px;padding:2px 1%;margin-left:.5%}
}
.detail-7day{padding-bottom:8px;padding-top:8px;height:43px}
.detail-number{padding:7px 5px;height:36px}
.mui-bar{padding-bottom:1px}
@media screen and (max-width:656px){.mui-bar .purchase{height:47.5px;border:#dedede}
div.mui-bar{padding-bottom:1.5px}
}
@media screen and (max-width:656px){.detail-context{height:45px}
@media screen and (max-width:656px){.detail-context .flag{font-size:15px;padding:2px .5%;margin-left:.5%}
}
@media screen and (max-width:656px){.fot p{float:left;width:100%;margin-top:1px}
}
}
.language a:link,.language a:visited,.language a:hover,.language a:active{text-decoration:none;color:#fff}
.language{height:40px;line-height:40px;background:#333;color:#fff;font-size:16px}
.language a{display:block;width:50%;line-height:40px;text-align:center;float:left}
.language a.c-red{color:#f00}
button.bunble{margin-top:10px;width:96%;margin-left:2%;margin-right:2%}
.mui-bar-con{width:120px}
button.bunble{margin-top:10px;width:94%;margin-left:3%;margin-right:3%}
.current .values_content{color:#f00}
.mui-btn-success{background:#f00;color:#fff;font-weight:bold}
.mui-btn-green.mui-active:enabled,.mui-btn-green:enabled:active,.mui-btn-positive.mui-active:enabled,.mui-btn-positive:enabled:active,.mui-btn-success.mui-active:enabled,.mui-btn-success:enabled:active{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.mui-btn-green.mui-active:enabled,.mui-btn-green:enabled:active,.mui-btn-positive.mui-active:enabled,.mui-btn-positive:enabled:active,.mui-btn-success.mui-active:enabled,.mui-btn-success:enabled:active{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.mui-btn-green,.mui-btn-positive,.mui-btn-success{color:#f00!important;border:1px solid #f00!important;background-color:#fff!important}
.pro_color dl dd span{margin-bottom:2px}
.current .values_content{color:#f00!important}
button.bunble{margin-top:10px}
.mui-btn-success{background:#f00!important;color:#fff!important;font-weight:bold!important}
.current label.values_content{color:#f00!important}
#buy_agin{right:24px;top:3px}
.mui-numbox [class*=mui-numbox-btn]{color:#fff}
.pro_color dl dd label.values_content{margin-left:0!important}
.pro_color dl dd .options_content{margin-bottom:5px}
.pro_color dl dd label.values_content{height:40px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;-mo-line-clamp:2}
.pro_color dl dd span.imgbox label.values_content{height:auto}
.pro_color{padding:0 10px}
.pro_color dl dd{margin:0}
.pro_color dl dt{padding-bottom:5px}
.pro_color dl dd{margin:5px 0 0}
.pro_color dl dd .options_content{margin-bottom:0}
.paymentbox #gleepayop #newpayform input{margin-top:0;margin-bottom:6px}
.paymentbox #gleepayop #newpayform{padding:0 5px}
.paymentbox #gleepayop #newpayform input.glee-cardno{width:65%;margin-right:1%}
.paymentbox #gleepayop #newpayform input.glee-cvv{width:33%}
#gleepayop .mui-input-row select{width:49%!important;margin-bottom:7px;margin-right:1%!important}
.mui-input-row select.glee-month{margin-right:1%}
.gp_tips em{color:#f00;position:absolute;top:3px;left:0}
.gp_tips p{position:relative;padding-left:10px;margin-bottom:6px;line-height:19px;font-size:12px}

.gp_tips p:nth-child(1){line-height:9px;margin-bottom:5px}
.mui-checkbox.mui-left input[type=checkbox],.mui-radio.mui-left input[type=radio]{left:5px}
.mui-checkbox.mui-left label,.mui-radio.mui-left label{padding-left:40px}
.paymentbox ul li span{margin-right:0!important}
.paymentbox #gleepayop #newpayform input.glee-cardno,.paymentbox #gleepayop #newpayform input.glee-cvv{padding-left:5px}
.addcart-specs dd span{display:inline-block!important;float:none!important}


.yunwei-quantity{width:auto !important;height: 28px !important;}

.freeshipping{padding-left:50px;background:url(free.jpg) left center no-repeat;}
